@keyframes glowing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appendFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY();
  }
}

@keyframes appendFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY();
  }
}
