:root {
  --primary-font: "SF Pro Display", sans-serif;
  --second-font: "Poppins", sans-serif;
  --third-font: "Inter", sans-serif;
  --primary-color: #ffffff;
  --second-color: #e6e6e6;
  --third-color: #6eb5ec;
  --fourth-color: #bcee6d;
  --brand-color: #0863e7;
  --additional-color: #595959;
  --blurred-color: rgba(89, 89, 89, 0.5);
}
